@use 'sass:color';
@use './colors.scss';

@keyframes shine {
  from {
    background-position-x: -220px;
  }

  to {
    background-position-x: 255px;
  }
}

.window {
  --font-size: 15px;
  --font-family: 'Consolas';
  --background-color: hsl(from var(--channel-color) h s 5);
  --color: var(--channel-color);

  position: absolute;
  inset: 0;
  caret-color: var(--color);
  background: linear-gradient(
    130deg,
    var(--color) 15%,
    hsl(from var(--color) h s calc(l + 33)) 20%,
    var(--color) 25%
  );
  background-size: 250%;
  animation: shine 10s infinite ease-in-out;

  &-light {
    --background-color: hsl(from var(--channel-color) h s 97.5);
    --color: hsl(from var(--channel-color) h s 33);
  }

  &::selection {
    background-color: var(--color);
    color: var(--background-color);
  }
}

.content {
  --border-size: 2px;
  position: absolute;
  inset: var(--border-size);
  display: grid;
  grid-template-columns: calc(5ch + 0.75rem) 1fr;
  padding: var(--border-size);
  background-color: var(--background-color);
  z-index: 1;
}

.button {
  --shadow-color: var(--color);
  all: unset;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  padding: 0 0.25rem;
  color: var(--color);
  box-shadow: inset 0 0 2px 1px var(--shadow-color);
  border-radius: 3px;

  &:hover {
    --shadow-color: hsl(from var(--color) h s calc(l + 25));
  }
}

.textarea {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  scrollbar-color: hsl(from var(--color) h s l / 0.5) transparent;
  resize: none;
  overflow-y: auto;
  padding: 2px 4px 2px 6px;
  margin-left: 2px;
  font-size: var(--font-size);
  background-color: transparent;
  color: var(--color);
  border: none;
  outline: none;
}
