@use 'sass:color';
@use 'sass:map';
@use '../colors.scss';
@use '../base.scss';

$department_map: (
  'Assistant': var(--color-gray),
  'Captain': hsl(215, 90%, 40%),
  'Cargo': hsl(35, 40%, 45%),
  'Security': hsl(0, 60%, 45%),
  'Engineering': hsl(40, 100%, 35%),
  'Medical': hsl(195, 75%, 40%),
  'Science': hsl(275, 90%, 35%),
  'Service': hsl(140, 70%, 35%),
  'Silicon': hsl(210, 30%, 40%),
  'NTRepresentation': hsl(210, 100%, 25%),
  'Justice': hsl(325, 80%, 40%),
);

.PreferencesMenu {
  &__Department {
    &.head .job-name {
      font-weight: bold;
    }

    .job-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 1.1;
      padding: 0.2em 0.33em;
      text-shadow: 1px 1px 0px hsla(0, 0%, 0%, 0.5);
    }

    .options {
      padding: 2px;
      text-align: right;
    }

    &:first-child {
      border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    }

    &:last-child {
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }

    &:only-child {
      border-radius: var(--border-radius-medium);
    }

    @each $department-name, $color-value in $department_map {
      &--#{$department-name} {
        background: $color-value;
        border: var(--border-thickness-tiny)
          outset
          hsl(from $color-value h s calc(l + 10));

        .Button {
          $color: hsl(from $color-value h s calc(l - 7.5));
          $color-off: hsl(from $color h s calc(l - 7.5));
          background-color: $color;
          box-shadow: 0 0 0 calc(var(--button-gap) - 1px) $color-value;

          &:hover:not(.selected) {
            background-color: $color-value;
            outline: 1px solid $color-off;
          }

          &.off.selected {
            background-color: $color-off !important;
          }
        }
      }
    }

    &--Captain {
      border: var(--border-thickness-tiny) outset var(--color-gold);
    }
  }

  &__Priority {
    position: relative;
    display: inline-flex;
    justify-content: flex-end;

    &:hover .PreferencesMenu__PriorityButton {
      transform: translateX(
        calc(
          -1 * (var(--button-width) - var(--button-gap) * -1) *
            var(--button-position)
        )
      );
    }

    &Button {
      --button-width: 40px;
      --button-gap: 0.25rem;
      display: inline-flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: var(--button-width);
      transition: transform var(--transition-time-medium);
      transition-delay: var(--transition-time-medium);
      z-index: 0;

      &:not(.selected) {
        position: absolute;
      }

      &.selected {
        cursor: var(--cursor-default);
        z-index: 1;

        &.low {
          background-color: var(--color-bad) !important;
        }

        &.mid {
          background-color: var(--color-average) !important;
        }

        &.high {
          background-color: hsl(
            from var(--color-good) h s calc(l + 7.5)
          ) !important;
        }
      }
    }
  }
}
