.theme-ss220:root {
  // Allow size animations
  interpolate-size: allow-keywords;

  // Department colors
  --color-security: hsl(0, 60%, 45%);
  --color-justice: hsl(325, 80%, 40%);
  --color-science: hsl(275, 90%, 35%);
  --color-command: hsl(215, 90%, 40%);
  --color-centcom: hsl(210, 100%, 25%);
  --color-silicon: hsl(210, 30%, 40%);
  --color-medical: hsl(195, 75%, 35%);
  --color-service: hsl(140, 70%, 30%);
  --color-engineering: hsl(40, 100%, 30%);
  --color-cargo: hsl(35, 40%, 40%);

  // Base
  --color-base: hsl(var(--primary-hue), 30%, 15%);
  --primary-hue: 202;
  --primary-saturation: 45%;
  --primary-lightness: 43.75%;
  --secondary-saturation: 42.5;
  --color-text: hsl(var(--primary-hue), 7.5%, 95%);

  // Components
  --button-background-default: hsl(
    from var(--color-primary) h calc(s - 5) calc(l - 2.5)
  );

  .Section {
    &__content {
      scrollbar-width: thin;
    }

    &--scrollable .Section__content {
      overflow-y: auto;
      scrollbar-gutter: stable;
    }
  }

  .TextArea {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  &::selection {
    background-color: var(--color-primary);
  }
}
